*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: cursive;
  background-color: rgb(24, 23, 23);
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
